@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">VincentA55 Razor Pages</h1>
    <h4>by Vincent Assolutissimamente</h4>
</div>

<div class="align-self-lg-center">
<h3> <a class=" btn btn-outline-success" asp-area="" asp-page="/Movies/Index">ASP-Razor Movies</a></h3>

</div>
